
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* --- font-family: 'Playfair Display', serif; ------- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* ----  font weight: 400 */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;500&display=swap');

/* ------  font-family: 'League Spartan', sans-serif; */

body{margin:0;padding: 0;box-sizing: border-box;font-family: 'Raleway', sans-serif;}

.container{max-width: 1320px;margin: auto;padding: 0 15px;}

.header{width:100%;background: url(../images/background_1.jpg);background-size: cover;background-repeat: no-repeat;height:100%;padding-top: 20px;
 padding-bottom: 7%;}

.header-logo-nav{display: flex;justify-content: space-between;}

.navbar{margin-top: 20px;}

.navbar ul{margin:0;padding: 0;}

.navbar ul li{list-style-type: none;display: inline-block;}

.navbar ul li a{text-decoration: none;padding: 0 16px;cursor: pointer;font-size: 15px;transition: 0.5s;color:#fff;}

.headericon{display: inline-flex;justify-content: center;align-items: center;gap: 12px;}

.headericon i{font-size: 18px;color:#fff;}

.bar1{width:100%;height:1px;background: #ffffff;border:0}
.header-sec{display:grid;grid-template-columns: repeat(5, 1fr);grid-gap: 20px;margin-top: 0px;}

.head-image{grid-column: 1/3;text-align: center;overflow: hidden;position: relative;top:-8px}

.head-image img{max-width:100%;height:100%;object-fit: cover;}
.head-image-txt{grid-column: 3/6;}

.head-content{padding-top: 20%;}
.head-content h1{margin:0;font-size: 70px;font-family:'Playfair Display', serif;color:#fff;line-height: 77px;font-weight: 400;}

.head-sub-cont{padding-top: 20px;}

.head-sub-cont p{margin: 0;font-size: 22px;font-family: 'Playfair Display', serif; color: #fff;line-height:32px;font-weight: 400;}

.head-sign{padding-top: 40px;}

.head-sign img{max-width: 100%;object-fit: cover;}

.nutri-prog{display:grid;grid-template-columns: repeat(3, 1fr);background: #fff;transform: translateY(-17px);padding: 38px 16px;}

.nutri-pro1{grid-column: 1/2;display: inline-flex;justify-content: center;align-items: center;gap:20px;
}

.nutri-pro2{grid-column: 2/3;display: inline-flex;justify-content: center;align-items: center;gap: 15px
}

.nutri-pro3{grid-column: 3/4;display: inline-flex;justify-content: center;align-items: center;gap: 15px
}

.n1-image-txt h4, .n2-image-txt h4, .n3-image-txt h4{margin: 0;font-size: 26px;
font-family: 'Playfair Display', serif;color: #7a7a7a;font-weight: 400;}

.n1-image-txt p, .n2-image-txt p, .n3-image-txt p{margin: 0;font-size: 16px;font-family: 'Playfair Display', serif;color: #7a7a7a;
font-weight: 400;padding-top: 12px;}

  .n1-image, .n2-image, .n3-image{cursor: pointer;transition: all 0.3s;}
.n1-image:hover img, .n2-image:hover img, .n3-image:hover img{color:#D8C149}

.rowprog{margin-top: 7%;}

.prog-cont{width:80%;margin: auto;}

.prog-cont h2{margin: 0;text-align: center;font-size: 30px;font-family: 'Raleway', sans-serif;color: #3f3f3f;line-height:39px;font-weight: 400;}

.fruit-icon{width:100%;text-align: center;padding-top: 20px;position: relative;}

.fruit-bar::before{content: '';position: absolute;display: inline-block;width:120px;height:1px;background:#3f3f3f;left:38%;top:67%}

.fruit-bar::after{content: '';position: absolute;display: inline-block;width: 120px; height: 1px;background: #3f3f3f;left: 53%;top: 67%
}

.prog-sub-text{text-align: center;padding-top: 20px;}

.prog-sub-text p{margin: 0;font-size: 18px;font-family:'Playfair Display', serif;color:#3f3f3f}

.learn-sec{display: grid;grid-template-columns: repeat(4, 1fr);grid-gap:25px;margin-top: 8%;}

.lea-p-1{grid-column: 1/2;box-sizing: border-box;background: #fff;padding-bottom: 30px;
}

.lea-p-2{grid-column: 2/3;box-sizing: border-box;background: #fff;padding-bottom: 30px;
}
.lea-p-3 { grid-column: 3/4;box-sizing: border-box;background: #fff;padding-bottom: 30px;
}
.lea-p-4 {grid-column: 4/5; box-sizing: border-box; background: #fff; padding-bottom: 30px;
}
.leaimage img{width:100%;height:100%;object-fit: cover;}
.circle-le{width:70px;height:70px;border-radius: 80%;margin: auto;border: 1px solid #3f3f3f;background: #fff;transform: translateY(-40px);}

.vegicon{text-align: center;margin-top: 16px;}

.learn-content{padding-top: 4px;text-align: center;width: 80%;
    margin: auto;}

.learn-content h5{margin: 0;font-size: 20px;color:#3f3f3f;font-weight: 400;}

.learn-content p {margin: 0;font-size:14px;color: #3f3f3f;font-weight: 400;line-height: 23px;padding-top: 8px;
}

.learn-button{padding-top: 20px;text-align: center;}

.learnbtn{display: inline-block;padding: 14px 42px;background: #D8C149;text-decoration: none;font-size: 14px;font-weight: 400;cursor: pointer;transition: 0.5s;border-radius: 80px;color:#fff}

/* -------- header ------------- */
@media only screen and (max-width:924px){

.header-logo-nav{flex-direction: column;}
.logo{text-align: center;}
.navbar{text-align: center;}
.headericon{margin-top: 20px;}
.header-sec{grid-template-columns: repeat(1, 1fr);}
.head-image, .head-image-txt{grid-column: unset !important; grid-row: unset !important;}
.head-content{padding-top: 0;}
.head-content h1, .head-sub-cont p{text-align: center;}
.head-sign{text-align: center;padding-top: 20px;}
.nutri-prog{grid-template-columns: repeat(1, 1fr);}
.nutri-pro1, .nutri-pro2, .nutri-pro3{grid-column: unset !important;
  grid-row: unset !important;padding: 20px 0;}
    .learn-sec{grid-template-columns: repeat(2, 1fr);}
        .lea-p-1, .lea-p-2, .lea-p-3, .lea-p-4{grid-column: unset !important;
          grid-row: unset !important;}
}
@media only screen and (max-width:554px){

  .learn-sec {
      grid-template-columns: repeat(1, 1fr);
    }
}













/* -------- header ------------- */
.testimonial-sec{padding-top:20px ;padding-bottom: 5%;background: url(../images/background_2.jpg);background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position: center;}

.client-cont{width:80%;margin: auto;padding-top: 4%;}

.client-cont h2{margin: 0;text-align: center;font-size: 30px;font-family: 'Raleway', sans-serif;color: #ffffff;line-height: 39px;font-weight: 400;
}
.fruit-icon2{width: 100%; text-align: center; padding-top: 20px;position: relative;}

.fruit-bar2::before{content: '';position: absolute;display: inline-block;width: 120px; height: 1px;background: #ffffff;left: 38%;top: 67%
}

.fruit-bar2::after {content: '';position: absolute; display: inline-block;width: 120px;height: 1px;background: #ffffff;left:53%;top: 67%}

.client{margin-top: 40px;text-align: center;}

.clientimg img{max-width:100%;height:100%;object-fit: cover;border-radius: 80%;}

.client-designate{padding-top: 15px;text-align: center;}

.client-designate p{margin:0;font-size: 13px;color:#fff;word-spacing: 1px;font-weight: 500;}

.client-designate h5 {margin: 0;font-size: 19px;
font-family: 'Playfair Display', serif;color: #fff;font-weight: 500;
word-spacing: 1px;
}
.client-comment{width:90%;margin: auto;}

.client-comment p{margin: 0;font-size: 48px;font-family: 'Playfair Display',
    serif;color:#fff;text-align: center;padding-top: 30px;line-height: 65px;
}

.owl-carousel .owl-item img{display: inline-block;width:auto}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{background: #D8C149;}

.owl-theme .owl-dots .owl-dot span {width:12px;height:12px;background: transparent;border:2px solid #fff}

/* ------  testimonial ------------- */

.about-sec{padding-top: 20px; padding-bottom: 0%;background: url(../images/background_3.jpg);background-size: cover;background-repeat: no-repeat;width:100% ;background-position: center;}

.ab-content{width: 80%;margin: auto;padding-top: 4%;}

.ab-content p{margin: 0;font-size: 15px;color: #3f3f3f;word-spacing: 1px;font-weight: 500;text-align: center;}

.ab-content h2{margin: 0;padding-top: 10px;text-align: center;font-size: 30px;font-family: 'Raleway', sans-serif;
color: #3f3f3f;line-height: 39px;font-weight: 400;}

.chat-icon {width: 100%;text-align: center;padding-top: 20px;position: relative;}

.chat-bar::before {content: '';position: absolute;display: inline-block;
width: 120px;height: 1px;background: #3f3f3f;left: 38%;top: 67%}

.chat-bar::after {content: '';position: absolute;display: inline-block;width: 120px;height: 1px;background: #3f3f3f;left: 53%;top: 67%}

.about-item{display:grid;grid-template-columns: repeat(4, 1fr);grid-gap:25px;margin-top:5%}

.abitem1{grid-column: 1/2;box-sizing: border-box;}

.abitem2{ grid-column:2/3;box-sizing: border-box;}

.abitem3 {grid-column: 3/4;box-sizing: border-box;}

.abimage img{width:100%;height: 100%;object-fit: cover;}

.ab-text{padding-top: 30px;}

.ab-text p{margin: 0;font-size: 14px;font-family:'Raleway', sans-serif; font-weight: 400;color:#3f3f3f}

.ab-head-text{padding-top: 18px;}

.ab-head-text h5{margin:0;font-size: 20px;font-family: 'Playfair Display', serif;font-weight: 600;color:#3f3f3f}

.ab-head-text p {margin: 0;font-size:13px;font-family: 'Playfair Display', serif;
font-weight: 400;color: #3f3f3f;padding-top: 8px;line-height: 20px;
}

.ab-button{padding-top: 20px;}

.abbtn{display: inline-block;padding: 12px 24px;background: #D8C149;text-decoration: none;font-size: 13px;font-weight: 500;cursor: pointer;
transition: 0.5s; border-radius: 80px;color: #fff;text-transform: uppercase;
}
.searchbox{width:100%;padding-top:3px;padding-bottom: 6%;background: #fff;margin-top: 5%;}

.search-text{text-align: center;width:100%;margin-top: 3%;}

.search-text p{margin: 0;font-size: 15px;font-weight: 400;font-family: 'Playfair Display', serif;color:#3f3f3f;}

.search-text h5 {margin: 0;font-size:30px;font-weight: 400;color: #3f3f3f;padding-top: 20px;}

.searchform{width:100%;display:inline-flex;justify-content: center;align-items: center;gap:10px;padding-top: 4%;margin: auto;}

.form{width:60%;border:1px solid #3f3f3f;background: #fff;border-radius: 90px;cursor: pointer;transition: 0.5s;box-shadow: 1px 1px 4px 0px #D8C149;;}
.formtxt{width:70%;background: transparent;padding: 0 15px;}
input.formtxt{height:45px;border:0;outline:0;}
.formtxt:focus{font-size: 14px;color:#D8C149;}
.formtxt::placeholder{font-size: 14px;color:#3f3f3f;}

.formbtn{display: inline-block;padding: 15px 42px;background: #D8C149;text-decoration: none;font-size: 14px;font-weight: 600;cursor: pointer;transition: 0.5s;border-radius: 80px;color: #fff;text-transform: uppercase;cursor: pointer;transition: 0.5s;}

.formbtn:hover{background: rgb(154, 223, 27);}
.form:hover{border:2px solid #D8C149}

.nutri-pack{display:grid;grid-template-columns: repeat(4, 1fr);grid-gap:25px;margin-top: 7%;}

.package-1{grid-column: 1/3;box-sizing: border-box;padding-bottom: 15%;}

.package-text{padding-top: 40px;}
.package-text h3{margin:0;font-size: 44px;font-family:'Playfair Display', serif;font-weight: 500 ;word-spacing:0.7px;letter-spacing: 0.8px;color:#3f3f3f}

.yellow-pack-txt{color:#D8C149}

.package-sub-text{padding-top: 15px;}

.package-sub-text p{margin:0;font-size: 21px;font-weight: 400;color:#3f3f3f;line-height:35px;font-family: 'Playfair Display', serif;}

.package-image{grid-column: 3/5;overflow: hidden;text-align: center;}
.package-image img{max-width:100%;height:100%;object-fit: cover;}

.nutri-value{display: flex;width:100%;margin-top: 30px;}

.valuepack-l-1, .valuepack-r-2{width:50%;box-sizing: border-box;padding: 0 8px;}

.val-pack-1, .val-pack-2, .val-pack-3, .val-pack-4, .val-pack-5, .val-pack-6{display: inline-flex;justify-content: center;align-items: center;gap:15px}

.packtxt{margin-top: 30px;}
.packtxt h5{margin: 0;font-size: 25px;font-family: 'Playfair Display',
  serif;color:#3f3f3f;font-weight: 500;word-spacing: 0.8px;letter-spacing: 1px;}
.packtxt p{margin: 0;font-size: 15px;font-family:'Playfair Display',
  serif ;color: #3f3f3f;font-weight: 400;word-spacing: 0.8px;padding-top:7px;line-height: 23px;}

/* ---------- about----------- */
@media only screen and (max-width:1156px){

.nutri-pack {grid-template-columns: repeat(1, 1fr);

}
.package-1, .package-image{grid-column: unset !important;
    grid-row: unset !important;}
}




@media only screen and (max-width:924px) {

  .about-item {

    grid-template-columns: repeat(2, 1fr);

  }

  .abitem1,
  .abitem2,
  .abitem3,
  .abitem4 {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}

@media only screen and (max-width:760px){

  .nutri-value{flex-direction: column;}
    .valuepack-l-1,
    .valuepack-r-2{margin:auto;width:100%;}
        .valuepack-r-2{padding-top: 30px;}
}
@media only screen and (max-width:690px){

  .searchform{flex-direction: column;text-align: center;}
}

@media only screen and (max-width:554px){

  .about-item {
  
      grid-template-columns: repeat(1, 1fr);
  
    }
}
/* ---------- about----------- */


.work-sec{padding-top: 20px;padding-bottom: 5%;width: 100%;}
 
.work-content{width:60%;margin: auto;padding-top: 5%;}

.work-content h4{margin: 0;text-align: center;font-size: 18px;font-weight: 500;color:#3f3f3f;letter-spacing: 1px;font-family: 'Playfair Display',
  serif;}

.work-content h5 { margin: 0;text-align: center;font-size: 30px;font-weight: 500;color: #3f3f3f;letter-spacing: 1px;padding-top: 10px;
}

.work-content p{margin:0;font-size: 16px;font-weight: 400;color:#3f3f3f;padding-top: 20px;letter-spacing: 0.8px;line-height: 28px;text-align: center;}

.rowwork{display: flex;gap:20px;justify-content: center;margin-top: 5%;}

.col-work{width:25%;box-sizing: border-box;padding: 0 12px;}

.box-work{padding-top: 30px;margin: auto;width:111px;height: 78px;background: #D8C149;}

.work-icon{text-align: center;margin-top: -5px;}

.work-contents{padding-top: 20px;text-align: center;}

.work-contents h5{margin: 0;font-size: 24px;color:#3f3f3f;letter-spacing: 1px;font-weight: 600;}

.work-contents p {margin: 0;font-size: 15px;font-family: 'Playfair Display', serif;color: #3f3f3f;letter-spacing: 1px;padding-top: 8px;}

.price-sec{display:grid;grid-template-columns: repeat(3, 1fr);grid-gap:25px;margin-top: 7%;}

.pr-item-1{grid-column: 1/2;padding-bottom: 40px;background: #fff3b2;box-sizing: border-box;border-bottom: 3px dashed #D8C149 ;}

.pr-item-2{grid-column: 2/3;padding-bottom: 40px;background: #fffdb3;
box-sizing: border-box;border-bottom: 3px dashed #EFEA53;}

.pr-item-3{grid-column: 3/4;padding-bottom: 40px;box-sizing: border-box;}

.pr-yellow{background: #D8C149;width:100%;padding-bottom:30px;}
.pr-yellow2{background: #EFEA53;width: 100%;padding-bottom: 30px;}
.pr-yellow-content{padding-left: 30px;position: relative;}
.pr-yellow-content h5{margin:0;font-size: 30px;font-weight: 340;font-family:'League Spartan', sans-serif;;color:#1f1f1f;word-spacing: 1px;transform: translateY(20px);}

.pr-yellow-content h6 {margin: 0;font-size: 20px;font-weight: 400;
font-family: 'League Spartan', sans-serif;color: #3f3f3f;word-spacing: 1px;padding-top: 26px;}

.moneytxt{font-weight: 600;color: #1f1f1f;font-family: 'League Spartan', sans-serif;font-size: 46px;}

.pr-shape{position: absolute;top:78%;left:0%;display: inline-block;}

.pr-white-content{padding-top: 40px;}

.pr-menu, .pr-menu2, .pr-menu3, .pr-menu4, .pr-menu5, .pr-menu6{width:100%;display: inline-flex;justify-content: center;align-items: center;gap:12px;}

.pr-menu2, .pr-menu3, .pr-menu4, .pr-menu5, .pr-menu6{padding-top: 15px;}

.menu-2 p{margin: 0;font-size: 22px;font-family:'League Spartan',
  sans-serif ;color:#3f3f3f;font-weight: 300;word-spacing: 2px;}

.pr-button{padding-top: 37px;text-align: center;}

.pr-btn{display: inline-block; padding: 18px 45px;background: #D8C149;
text-decoration: none;font-size: 17px;font-weight: 600;cursor: pointer;transition: 0.5s;border-radius: 80px;color: #fff;text-transform: uppercase
}
.pr-btn2 {display: inline-block;padding: 18px 45px;background: #EFEA53;text-decoration: none;font-size: 17px;font-weight: 600;cursor: pointer;transition: 0.5s;border-radius: 80px;color: #fff;text-transform: uppercase
}

.pr-offer-content{padding-top: 23%;}
.pr-offer-content h5{margin:0;font-size: 18px;font-family:'League Spartan',
  sans-serif;color:#D8C149;letter-spacing: 2px;word-spacing: 1px;font-weight: 400;}
.pr-offer-content h4 {margin: 0;font-size: 56px;
font-family: 'League Spartan', sans-serif;color: #3f3f3f;letter-spacing: 1px;font-weight: 500;word-spacing: 1px;padding-top: 30px;
}
.pr-offer-content p{margin:0;font-size: 16px;color:#3f3f3f;line-height: 27px;padding-top: 20px;font-family: 'Playfair Display', serif;word-spacing: 1px;}

.pr-offer-button{padding-top: 30px;}

.offerbtn{display: inline-block;padding: 15px 30px;background: #D8C149;
text-decoration: none;font-size: 16px;font-weight:500;cursor: pointer;transition: 0.5s;border-radius: 80px;color: #fff;text-transform: uppercase
}
/* -----------price------------ */
@media only screen and (max-width:1360px){

  .pr-shape{display: none;}
}
@media only screen and (max-width:924px){

.rowwork{display:grid;grid-template-columns: repeat(2, 1fr);}

.col-work{width:100%}
.price-sec {
  
  grid-template-columns: repeat(1, 1fr);}
    .pr-item-1, .pr-item-2, .pr-item-3{grid-column: unset !important;
      grid-row: unset !important;margin: 0 10px;}
}
@media only screen and (max-width:554px){

.rowwork {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}
/* -----------price------------ */
.tricks-sec{padding-top: 20px;padding-bottom: 5%;width: 100%;}
.rowtrick{display:flex;justify-content: space-between;}

.trick-content, .trick-button{padding-top: 30px;}

.trick-content h5{margin: 0;font-size: 18px;font-family: 'League Spartan',
sans-serif;color: #D8C149;letter-spacing: 2px; word-spacing: 1px;font-weight: 400;}

.trick-content h4{margin: 0;font-size: 50px;font-family: 'League Spartan',
  sans-serif;color: #3f3f3f;letter-spacing: 1px;font-weight: 500;word-spacing: 1px;padding-top: 15px;}

.trick-button {padding-top: 50px;}

.trickbtn{display: inline-block;padding: 15px 30px;background: #D8C149;
text-decoration: none;font-size: 16px;font-weight: 500;cursor: pointer;
transition: 0.5s;border-radius: 80px;color: #fff;
text-transform: uppercase}

.trick-gallery{display: grid;grid-template-columns: repeat(3, 1fr);grid-gap:25px;margin-top: 5%;}

.trick-tip-1{grid-column: 1/2;padding-bottom: 20px;box-sizing: border-box;}

.trick-tip-2 {grid-column: 2/3;padding-bottom: 20px;box-sizing: border-box;}

.tip-image img{width:100%;height:100%;object-fit: cover;}

.tip-content {padding-top: 20px;}
.tip-content h5{margin: 0;font-size: 22px;font-weight: 600;color:#3f3f3f;letter-spacing: 1px;line-height: 29px;}

.tip-flex{display:inline-flex;justify-content: center;align-items: center;gap:12px;margin-top: 20px;}

.flex-icon i{font-size: 18px;color:#1f1f1f}
.flex-text p{margin:0;font-size: 15px;font-family:'League Spartan' sans-serif;color:#3f3f3f;font-weight: 300;}

.tip-tricks-content{padding-top: 20px;}
.tip-tricks-content p{margin: 0;font-size: 16px;
font-family: 'League Spartan' sans-serif; color: #3f3f3f;font-weight: 300;line-height: 25px;}

/* ---------- tricks ----------- */
@media only screen and (max-width:924px){

.rowtrick{flex-direction: column;}

}
@media only screen and (max-width:884px){


  .trick-gallery {
    
      grid-template-columns: repeat(1, 1fr);
    
    }
.trick-tip-1, .trick-tip-2, .trick-tip-3{grid-column: unset !important; grid-row: unset !important;padding: 0 20px;}


}


/* ---------- tricks ----------- */
.footer{padding-top: 20px;padding-bottom: 2%;background: #D8C149;margin-top: 0%;}

.rowfooter{display:flex;}
.col-footer{width:25%;box-sizing: border-box;padding: 0 14px;}

.box-footer, .box-footer3, .box-footer4{padding-top: 30px;}
.box-footer h4{margin:0;font-size:45px;font-weight: 600;font-family:'League Spartan' sans-serif ;color:#1f1f1f;letter-spacing: 1px;}

.box-footer p{margin: 0;font-size: 15px;font-weight: 400;font-family: 'League Spartan' sans-serif;color: #484848;line-height: 22px;letter-spacing: 1px;padding-top: 15px;}

.dots{color:#fff3b2;font-size: 30px;font-weight: 600;}

.servetxt{padding-top: 25px;}
.servetxt h4{margin: 0;font-size: 27px;font-weight: 400;
font-family: 'League Spartan' sans-serif;color: #1f1f1f;letter-spacing: 1px;}

.servetxt p{margin:0;font-size: 20px;font-weight: 400;font-family:'League Spartan',sans-serif;padding-top: 15px;letter-spacing: 1px;color:#fff}

.footer-head h4{margin:0;font-size: 30px;font-weight: 500;color:#fff;font-family: 'League Spartan', sans-serif;padding-top: 16px;}
.nav-footer{padding-top: 16px;}
.nav-footer ul{margin:0;padding: 0;}
.nav-footer ul li{list-style: none;display: block;}
.nav-footer ul li a{text-decoration: none;cursor: pointer;font-size: 18px;font-family: 'League Spartan', sans-serif;color:#1f1f1f;transition: 0.5s;line-height: 35px;font-weight: 300;}


.footercontent{display:inline-flex;justify-content: center;align-items: center;gap:12px;margin-top: 9px;}

.footercontent2{margin-top: 5px;display: inline-flex;justify-content: center;align-items: center;gap: 12px;}

.footercontent3{margin-top: 5px;display: inline-flex;justify-content: center;align-items: center;gap: 12px;}

.footercontent4 { margin-top: 5px;
display: inline-flex;justify-content: center;align-items: center;gap: 12px;}

.footericon i{font-size: 20px;color:#1f1f1f;vertical-align: text-top;}

.fo-text p{margin:0;font-size: 18px;font-family:'League Spartan',    sans-serif;font-weight: 350;color:#3f3f3f;line-height: 30px;}

.fo-sub-text{padding-top: 11px;}

.fo-sub-text p{margin: 0;font-size: 18px;font-family: 'League Spartan', sans-serif;font-weight: 350;color: #3f3f3f;line-height: 24px;}

.footer-form{display:inline-flex;justify-content: center;align-items: center;margin-top: 30px;gap: 8px;}

 .form-se{width:70%;background: #fff;box-shadow: 1px 2px 4px -1px #333333;border-radius:80px;}

#se-form{padding: 0 14px;border: 0;outline: 0;background: transparent;width:70%}

input#se-form{height:45px;background: transparent;}
#se-form:focus{font-size: 14px;font-weight: 400;font-family:'League Spartan', sans-serif ;color:#3f3f3f}
.se-form::placeholder{font-size: 14px;color:#D8C149}

button{display: inline-block;text-decoration: none;cursor: pointer;padding: 12px 24px;background: #EFEA53;font-size: 14px;font-weight: 400;border-radius: 80px;color:#fff;font-family:'League Spartan', sans-serif ;border: 0;outline: 0;word-spacing: 1px;letter-spacing: 1px;transition: 0.5s;}

/* ---------- footer ---------- */

@media only screen and (max-width:1194px){

.rowfooter{display:grid;grid-template-columns: repeat(2, 1fr);}

.col-footer{width:100%;padding: 0 10px;}
}

@media only screen and (max-width:760px) {

  .rowfooter {
   
    grid-template-columns: repeat(1, 1fr);
  }


}






















